<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key ="NumeFisier3" value="Save3.txt"/>
		<add key ="NumeFisier2" value="Save2.txt"/>
		<add key ="NumeFisier1" value="Save1.txt"/>
		<add key ="NumeFisier0" value="Save0.txt"/>
	</appSettings>
</configuration>